@model ContactModel

@{
    ViewBag.Tittle = "title";
    Layout = "_Layout";
}


<h2>
    <div>
        <form asp-action="Add" method="post">
            <label class="form-check-label" asp-for="FirstName">Imie</label>
            <label class="form-check-label" asp-for="FirstName">Nazwisko</label>
            <span asp-validation-for="FirstName" class="text-danger"></span>
            
            
            
            
            
        </form>
    
    </div>
    
</h2>